@charset "utf-8";
/* CSS Document */

/* font styling */
h1, h2, h3, h4, p {
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:bold;
}

/* form styling */
input, label {
 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:bold;
		}
body {
  background-color: #7CE86C;
}

/* image styling */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* header styling */
.topnav {
	width:100%;
  	overflow: hidden;
	background-color: white;
	border-style: solid;
	border-color: black;
	padding: 0%;
		  }

/* right side container */
.container-right {
float:right;
padding:.5% 0% 0% 3%;
width: 45%;
	height: 550px;
display: block;
	background-color:#7CE86C;
	border-left-style: solid;
	border-left-color:black;
	background-color: #7CE86C;
}

/* left side container */
.container-left {
float:left;
padding:.5% 0% 0% 3%;
width: 45%;
	height: 550px;
	background-color:#7CE86C;
	background-color: #7CE86C;
	}

/* footer styling */
.footer {
	width:100%;
	  	overflow: hidden;
	background-color: white;
	text-align: center;
	padding: 0%;
	border-style: solid;
	border-color:black;
	
		  }